<div class="index-container">

  <img src="images/beer.png">
  <button id="check-beer-button" class="button" onclick="location.href='/beers'">Check the beers!</button>
  <button id="random-beer-button" class="button" onclick="location.href='/random-beers'">Check a random beer!</button>

</div>